<div id="form_signup">
  <form action="/users/<%= user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <table>
      <tr>
        <td>Username:</td>
        <td><input type="text" name="user[username]" value="<%= user.username %>"></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" name="user[password]" value="<%= user.password %>"></td>
      </tr>
      <tr>
        <td>Password confirm:</td>
        <td><input type="password" name="user[password_confirmation]" value="<%= user.password %>"></td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td><input type="text" name="user[first_name]" value="<%= user.first_name %>"></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" name="user[last_name]" value="<%= user.last_name %>"></td>
      </tr>
      <tr>
        <td>Country:</td>
        <td><input type="text" name="user[country]" value="<%= user.country %>"></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="user[email]" value="<%= user.email %>"></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Confirm changes"></td>
      </tr>

    </table>
  </form>

</div>
